<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DevCake.WoW.SPP2Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <DevCake.WoW.SPP2Launcher.My.MySettings>
            <setting name="Locale" serializeAs="String">
                <value>en-GB</value>
            </setting>
            <setting name="WowClientPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoadedServerType" serializeAs="String">
                <value />
            </setting>
            <setting name="ApacheAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MySqlAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseIntApache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseIntMySQL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerTbcAutostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerWotlkAutostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MySqlWotlkIntHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySqlWotlkIntPort" serializeAs="String">
                <value>3310</value>
            </setting>
            <setting name="MySqlWotlkIntUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySqlWotlkIntPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="MySqlWotlkIntArmory" serializeAs="String">
                <value>wotlkarmory</value>
            </setting>
            <setting name="MySqlWotlkIntCharacters" serializeAs="String">
                <value>wotlkchracters</value>
            </setting>
            <setting name="MySqlWotlkIntLogs" serializeAs="String">
                <value>wotlklogs</value>
            </setting>
            <setting name="MySqlWotlkIntMangos" serializeAs="String">
                <value>wotlkmangos</value>
            </setting>
            <setting name="MySqlWotlkIntPlayerbots" serializeAs="String">
                <value>wotlkplayerbots</value>
            </setting>
            <setting name="MySqlWotlkIntRealmd" serializeAs="String">
                <value>wotlkrealmd</value>
            </setting>
            <setting name="MySqlWotlkExtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtArmory" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtMangos" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtPlayerbots" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlWotlkExtRealmd" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicIntHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySqlClassicIntPort" serializeAs="String">
                <value>3310</value>
            </setting>
            <setting name="MySqlClassicIntUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySqlClassicIntPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="MySqlClassicIntArmory" serializeAs="String">
                <value>classicarmory</value>
            </setting>
            <setting name="MySqlClassicIntCharacters" serializeAs="String">
                <value>classiccharacters</value>
            </setting>
            <setting name="MySqlClassicIntLogs" serializeAs="String">
                <value>classiclogs</value>
            </setting>
            <setting name="MySqlClassicIntMangos" serializeAs="String">
                <value>classicmangos</value>
            </setting>
            <setting name="MySqlClassicIntPlayerbots" serializeAs="String">
                <value>classicplayerbots</value>
            </setting>
            <setting name="MySqlClassicIntRealmd" serializeAs="String">
                <value>classicrealmd</value>
            </setting>
            <setting name="MySqlClassicExtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtArmory" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtMangos" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtPlayerbots" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlClassicExtRealmd" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcIntHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySqlTbcIntPort" serializeAs="String">
                <value>3310</value>
            </setting>
            <setting name="MySqlTbcIntUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySqlTbcIntPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="MySqlTbcIntArmory" serializeAs="String">
                <value>tbcarmory</value>
            </setting>
            <setting name="MySqlTbcIntCharacters" serializeAs="String">
                <value>tbccharacters</value>
            </setting>
            <setting name="MySqlTbcIntLogs" serializeAs="String">
                <value>tbclogs</value>
            </setting>
            <setting name="MySqlTbcIntMangos" serializeAs="String">
                <value>tbcmangos</value>
            </setting>
            <setting name="MySqlTbcIntPlayerbots" serializeAs="String">
                <value>tbcplayerbots</value>
            </setting>
            <setting name="MySqlTbcIntRealmd" serializeAs="String">
                <value>tbcrealmd</value>
            </setting>
            <setting name="MySqlTbcExtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtPort" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtArmory" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtCharacters" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtLogs" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtMangos" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtPlayerbots" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlTbcExtRealmd" serializeAs="String">
                <value />
            </setting>
            <setting name="DirSPP2" serializeAs="String">
                <value>D:\GAME\SERVER\WOW\SPP_Classics_V2</value>
            </setting>
            <setting name="ServerClassicAutostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApacheClassicIntHost" serializeAs="String">
                <value>ANY</value>
            </setting>
            <setting name="ApacheClassicIntPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ApacheTbcIntHost" serializeAs="String">
                <value>ANY</value>
            </setting>
            <setting name="ApacheTbcIntPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ApacheWotlkIntHost" serializeAs="String">
                <value>ANY</value>
            </setting>
            <setting name="ApacheWotlkIntPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ApacheClassicExtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ApacheClassicExtPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ApacheTbcExtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ApacheTbcExtPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ApacheWotlkExtHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ApacheWotlkExtPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleTheme" serializeAs="String">
                <value>Black Theme</value>
            </setting>
            <setting name="ConsoleFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="RealmdConsoleForeColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="WorldConsoleForeColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="CurrentFileRealmd" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentFileWorld" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentServerSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="AppSize" serializeAs="String">
                <value>640, 420</value>
            </setting>
            <setting name="AppLocation" serializeAs="String">
                <value>80, 80</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SqlLogLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConsoleMessageFilter" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseConsoleBuffer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCommandAutoHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateConsoleRightNow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAutoBackupDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSqlBackupProjectFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveBackupCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ManualBackupCount" serializeAs="String">
                <value>10</value>
            </setting>
        </DevCake.WoW.SPP2Launcher.My.MySettings>
    </userSettings>
</configuration>
